// resources/sass/app.scss

@import "node_modules/bootstrap/scss/bootstrap";

body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none !important;
}

.max-w-500 {
    max-width: 500px;
}
